<style>
  .table td { padding: 5 10 0 10; }
</style>

<div class="container mt-5">
  <h2>Administrador de Ordenes</h2>
  <h4>{{presupuesto.orden}}</h4>
  <h5>{{presupuesto.nombre}}</h5>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col">Orden</th>
        <th scope="col">Fecha</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">ID</th>
        <th scope="col">New Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each presupuesto}}
        <tr>
          <td>{{this.orden}}</td>
          <td>{{this.fecha}}</td>
          <td>{{this.nombre}}</td>
          <td>{{this.fecha}}</td>
          <td>{{this._id}}</td>
          <td>
            <form
              id="form_{{this._id}}"
              onsubmit="guardarNuevoRol('{{this._id}}'); return false;"
            >
              <select
                class="form-select"
                id="roleSelect_{{this._id}}"
                style="width: 100%; height: 30px; font-size: 12px;"
              >
                <option value="user">User</option>
                <option value="premium">Premium</option>
              </select>
            </form>
          </td>
          <td>
            <a
              href="#"
              class="btn btn-warning btn-sm"
              onclick="guardarNuevoRol('{{this._id}}')"
            >Save Role</a>
            <a
              href="#"
              class="btn btn-primary btn-sm"
              onclick="verUsuario('{{this._id}}')"
            >View</a>
            <a
              href="#"
              class="btn btn-danger btn-sm"
              onclick="eliminarUsuario('{{this._id}}')"
            >Eliminar</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script src="/js/adminUserControl.js"></script>