<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-4">Detalles del Usuario</h2>
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>User ID:</strong> {{presupuesto._id}}</p>
          <p class="card-text"><strong>Orden:</strong>
            {{user.first_name}}</p>
          <p class="card-text"><strong>Orden:</strong>
            {{user.nombre}}</p>
          <p class="card-text"><strong>Email:</strong> {{presupuesto.email}}</p>
          <p class="card-text"><strong>Role:</strong>
            {{presupuesto.telefono}}</p>
          <p class="card-text"><strong>Nombre:</strong>
            {{presupuesto.nombre}}</p>
          <p class="card-text"><strong>Password:</strong>
            {{presupuesto.password}}</p>
          <a
            href="javascript:history.back()"
            class="btn btn-primary mt-3"
          >Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>